footer {
	padding-top: 150px;
	background-color: $main-bg-cl;
	.footer-logo {
		position: relative;
		.back-to__top {
			display: flex;
		}
		&::before, &::after {
			content: '';
			display: inline-block;
			width: 43%;
			height: 1px;
			background-color: $yellow-cl;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
	.footer-infor {
		padding-top: 50px;
		padding-bottom: 10%;
		position: relative;
		ul {
			li {
				@include text($fz-text-m, $secondary-font, $lh-text, $text-white-cl, uppercase);
				letter-spacing: 0.5px;
				text-align: center;
			}
		}
		.back-to__top {
			position: absolute;
			left: calc(100% - 35px);
			top: 70%;
			display: inline-block;
			width: 100px;
			@include transform(rotate(90deg));
			@include transform-origin(center top);
			@include text($fz-text, $secondary-font, $lh-text, $text-white-cl, uppercase);
			letter-spacing: 0.5px;
			cursor: pointer;
			z-index: 100;
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background-color: $yellow-cl;
				position: absolute;
				top: 50%;
				right: 100%;
				margin-right: 10px;
				@include transition(transform $t linear);
			}
			&:hover {
				&::after {
					@include transform(translateX(-30px));
				}
			}
		}
	}
	@include mobile {
		.footer-infor {
			.back-to__top {
				display: none;
			}
		}
	}
}
